@use "colors" as *;

.card {
  border: 2px solid red;
  text-align: center;
  padding: 2.188rem;
  background-color: $background-card;
  &__profile {
    //border: 1px solid yellow;
    .card__profile--avatar {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
    }
    .userprofile {
      &__name {
        font-weight: 600;
        color: $title-1;
        font-size: 1.5rem;
        margin-top: 2.5rem;
      }
      &__location {
        color: $title-4;
        font-size: 0.938rem;
        margin-top: 0.5rem;
        margin-bottom: 2.25rem;
      }
      &__occupation {
        color:$white;
        font-size:0.875rem;
      }
    }
  }

  &__links{
    display:flex;
    flex-direction: column;
    margin-top: 0.625rem;
    .link{
        text-decoration: none;
        color: $white;
        font-weight: 700;
        background-color: $background-link;
        margin-top: 0.938rem;
        padding: 1rem 0;
        border-radius: 0.625rem;
    }
  }
}
