//colors
$background: hsl(0, 0%, 8%);
$background-card: hsl(0, 0%, 12%);
$background-link: hsl(0, 0%, 20%);

//text colors
$title-1: hsl(0, 0%, 100%);
$title-4: hsl(75, 94%, 57%);
$white:hsl(0, 0%, 100%);
$hover-link: hsl(75, 94%, 57%);